.productos_de_nuestra_página{
    background-color: black;
    color: white;

    .producto_gamer{
        background-color: black;
        color: white;
    }

   
}

.producto_gamer{
    background-color: black;
    color: white;
}

